numpy
pandas
sounddevice
soundfile
wavio
uuid
dotenv
chromadb
dash
dash-bootstrap-components
langchain-text-splitters
openai
langchain
langchain_openai
pypdf2
langchain-community
langchain-chroma
langsmith
langchain-openai
langchain-core
gunicorn


