dash 
dash-bootstrap-components 
chromadb 
langchain-openai 
langchain-text-splitters 
langchain-community 
langchain-chroma 
chromadb
openai 
python-dotenv 
pypdf
numpy
gunicorn
camelot
pandas
soundfile
wavio



