numpy==1.26.4
pandas==2.2.3
sounddevice==0.5.1
soundfile==0.13.1
wavio==0.0.9
python-dotenv==1.0.1
chromadb==0.5.23
dash==2.18.2
dash-bootstrap-components==1.7.1
dash-core-components==2.0.0
dash-html-components==2.0.0
dash-table==5.0.0
dash-tools
langchain-text-splitters==0.3.5
openai==1.60.1
langchain==0.3.15
langchain_openai==0.3.2
pypdf==5.2.0
langchain-community==0.3.15
langchain-chroma==0.2.0
langsmith==0.3.1
langchain-core
gunicorn


